/* Default styles for larger screens */
.video-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  video {
    max-width: 100%;
  }
  
  /* Responsive styles for screens up to 600px wide (typical mobile devices) */
  @media (max-width: 600px) {
    .video-component {
      height: auto; /* Allow the container to adjust its height */
    }
  
    video {
      width: 100%; /* Expand the video to fill the container's width */
      height: auto; /* Maintain the video's aspect ratio */
    }
  }
  